<!--新建计划——步骤二-->
<div class="content">
    <h1>新建计划</h1>
    <div class="addplan_step">
        <div class="step">
            <span>1</span>
            计划基本信息
        </div>
        <div class="step active_step">
            <span>2</span>
            选择资源位及素材匹配
        </div>
        <div class="step">
            <span>3</span>
            完成
        </div>
    </div>
    <div class="plan_info">
        <span class="plan_name">计划名称：{{planName}}</span>
        <span class="plan_time">展示时间：{{start_time}}-{{end_time}}</span>
        <!-- <p class="plan_area">投放区域：<span ng-repeat="area in admin_isSelect">{{area.provinceName}}|</span><span ng-repeat="province in serviceArea_isSelect">{{province.provinceName}}|</span></p> -->
        <p></p>
        <button type="button" name="button" class="add_resource_btn" data-toggle="modal" data-target="#resourceModal" ng-click="getAdvResource()">+添加资源位</button>
        <select class="select_platform">
            <option value="option">请选择平台</option>
            <option value="option">PC端</option>
            <option value="option">M站</option>
            <option value="option">IOS</option>
        </select>
        <select class="">
            <option value="option">请选择栏目</option>
            <option value="option">PC端帮助中心</option>
        </select>
        <input type="text" name="name" value="" placeholder="输入资源位名称搜索">
    </div>
    <div class="table-responsive">
        <table class="table material_table">
            <thead>
                <tr>
                    <th>资源位</th>
                    <th>平台</th>
                    <th>所属栏目</th>
                    <th>素材状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in checked_resource">
                    <td class="resource_name">{{item.resourcePositionName}}</td>
                    <td class="resource_platform" ng-if="item.platform==1">PC端</td>
                    <td class="resource_platform" ng-if="item.platform==2">M站</td>
                    <td class="resource_platform" ng-if="item.platform==3">IOS端</td>
                    <td class="resource_platform" ng-if="item.platform==4">Android端</td>
                    <td class="resource_programa">PC首页</td>       <!--暂无栏目信息-->
                    <td class="material_state not_selected" ng-if="!judge_hasSelect($index)">未选素材</td>
                    <td class="material_state" ng-if="judge_hasSelect($index)">已选素材</td>
                    <td class="operate">
                        <span data-toggle="modal" data-target="#selectPic_Modal" ng-click="show_picList($index)" ng-if="!judge_hasSelect($index)">选择素材</span>
                        <span ng-click="pic_next($index)" ng-if="judge_hasSelect($index)">编辑素材</span>
                        <!-- <span data-toggle="modal" data-target="#selectArticle_Modal" ng-click="getArticle($index)">选择素材</span> -->
                        <span ng-click="del_resource($index)">删除</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="select_finish">
            <button type="button" name="button" class="last_step_btn" ng-click="back()">上一步</button>
            <button type="button" name="button" class="finish_btn" ng-click="picPlan_finish()">完成</button>
            <button type="button" name="button" class="cancel_btn">取消</button>
        </div>
    </div>
    <!--资源位列表选择-->
    <div class="modal fade" id="resourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        资源位列表
                    </h4>
                </div>
                <div class="modal-body">
                    <select class="" name="">
                        <option value="option">上传时间由近到远</option>
                    </select>
                    <input type="text" name="name" value="" placeholder="输入标题名称">
                    <div class="table-responsive">
                        <table class="table material_table">
                            <thead>
                                <tr>
                                    <th>资源位</th>
                                    <th>平台</th>
                                    <th>素材类型</th>
                                    <th>尺寸</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="resource in resourceList">
                                    <td class="article_title">
                                        <input type="checkbox" name="name" value="" ng-model="resource.isChecked">{{resource.resourcePositionName}}
                                    </td>
                                    <td class="" ng-if="resource.platform==1">PC</td>
                                    <td class="" ng-if="resource.platform==2">M站</td>
                                    <td class="" ng-if="resource.platform==3">IOS</td>
                                    <td class="" ng-if="resource.platform==4">Android</td>
                                    <td class="material_type">
                                        图片
                                    </td>
                                    <td>
                                        {{resource.pixelHeight}}X{{resource.pixelWidth}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="page_tab">
                        <span>每页显示10行</span>
                        <a>上一页</a>
                        <span>1/2</span>
                        <a>下一页</a>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="resource_ensure()" data-dismiss="modal">确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--图片选择素材(未选素材）-->
    <div class="modal fade" id="selectPic_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择素材
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>当前资源位：PC端首页焦点图1</h5>
                    <select class="" name="">
                        <option value="option">上传时间由近到远</option>
                        <option value="option">上传时间由远到近</option>
                    </select>
                    <input type="text" name="name" value="" placeholder="输入素材名称">
                    <div class="well well-lg material_list">
                        <div class="material_item" ng-repeat="item in temp_picList" ng-click="select_pic($index)" ng-class="SelectClass($index)">
                            <img ng-src="{{picUrl}}{{item.storageUrl}}" alt=""/>
                            <p class="img_name">
                                {{item.materialName}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="pic_next()">下一步
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--图片选择素材（已选素材编辑)-->
    <div class="modal fade" id="editPic_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择素材
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>当前资源位：PC帮助中心--账户管理</h5>
                    <select class="" name="">
                        <option value="option">上传时间由近到远</option>
                    </select>
                    <input type="text" name="name" value="" placeholder="输入标题名称">
                    <div class="table-responsive">
                        <table class="table material_table">
                            <thead>
                                <tr>
                                    <th>图片标题</th>
                                    <th>图片预览</th>
                                    <th>链接预览</th>
                                    <!-- <th>排序</th> -->
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in temp_picList_next">
                                    <td class="pic_title">{{item.materialName}}</td>
                                    <td class="preview">
                                        <a href="#" data-toggle="popover" data-trigger="hover" data-content="<img src='{{item.storageUrl}}' width='250'>" data-placement="bottom" data-html="true">预览</a>
                                    </td>
                                    <td class="link_preview">
                                        <a ng-href="{{item.targetUrl}}" target="_blank">预览</a>
                                    </td>
                                    <!-- <td class="serial_number">{{$index}}</td> -->
                                    <td class="operate">
                                        <span ng-click="del_SelectPic($index)">删除</span>
                                        <span ng-click="move_down(temp_picList_next,$index)">下移</span>
                                        <span ng-click="move_up(temp_picList_next,$index)">上移</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="picSelect_finish()">完成
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--文章选择素材（未选素材编辑）-->
    <div class="modal fade" id="selectArticle_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择素材
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>当前资源位：PC帮助中心--账户管理</h5>
                    <select class="" name="">
                        <option value="option">上传时间由近到远</option>
                    </select>
                    <input type="text" name="name" value="" placeholder="输入标题名称">
                    <div class="table-responsive">
                        <table class="table material_table">
                            <thead>
                                <tr>
                                    <th>文章标题</th>
                                    <th>内容预览</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="article in articleList">
                                    <td class="article_title">
                                        <input type="checkbox" name="name" value="" ng-model="article.isChecked">{{article.meterialName}}
                                    </td>
                                    <td class="article_preview">
                                        <a ng-href="article.previewUrl">
                                            预览
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="page_tab">
                        <span>每页显示10行</span>
                        <a>上一页</a>
                        <span>1/2</span>
                        <a>下一页</a>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="article_ensure()">下一步
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--文章选择素材（已选素材编辑）-->
    <div class="modal fade" id="editArticle_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        选择素材
                    </h4>
                </div>
                <div class="modal-body">
                    <h5>当前资源位：PC帮助中心--账户管理</h5>
                    <div class="table-responsive">
                        <table class="table material_table">
                            <thead>
                                <tr>
                                    <th>文章标题</th>
                                    <th>内容预览</th>
                                    <th>排序</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="article_title">轮播1</td>
                                    <td class="article_preview">
                                        <a href="#">
                                            预览
                                        </a>
                                    </td>
                                    <td class="serial_number"><input type="text" name="name" value="1"></td>
                                    <td class="operate">
                                        <span>删除</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="article_title">轮播2</td>
                                    <td class="article_preview">预览</td>
                                    <td class="serial_number"><input type="text" name="name" value="1"></td>
                                    <td class="operate">
                                        <span>删除</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="article_title">轮播3</td>
                                    <td class="article_preview">预览</td>
                                    <td class="serial_number"><input type="text" name="name" value="1"></td>
                                    <td class="operate">
                                        <span>删除</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="page_tab">
                        <span>每页显示10行</span>
                        <a>上一页</a>
                        <span>1/2</span>
                        <a>下一页</a>
                    </div>
                    <button type="button" class="btn btn-primary">确定
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--上传成功模态框-->
<div class="modal fade" id="addPlanSuccess" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body" style="text-align:center">
            上传成功
         </div>
      </div>
</div>
<!--上传失败模态框-->
<div class="modal fade" id="addPlanFail" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body" style="text-align:center">
            上传失败
         </div>
      </div>
</div>
