<!--文章资源位管理-->
<div class="content">
<h1>资源位管理
    <span class="children_name">当前位置：PC端--帮助中心--文章资源位</span>
    <!-- <span class="back">返回上一级</span> -->
</h1>
<div class="select_info">
    <button type="button" name="button" class="add_plan_btn">+添加资源位</button>
    <input type="text" name="name" value="" placeholder="资源位名称检索">
</div>
<div class="table-responsive resource_table">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>栏目名称</th>
                <th>下级栏目</th>
                <th>名称内容</th>
                <th>是否启用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="item_name">
                    <span class="indent"></span>账户管理</td>
                <td class="add_item">添加</td>
                <td class="change_name">修改</td>
                <td class="start_using"><input type="checkbox" name="name" value=""></td>
                <td class="operate">
                    <span>删除</span>
                </td>
            </tr>
            <tr>
                <td class="item_name">
                    <span class="indent"></span>
                    <span class="indent"></span>注册与审核</td>
                <td class="add_item">添加</td>
                <td class="change_name">修改</td>
                <td class="start_using"><input type="checkbox" name="name" value=""></td>
                <td class="operate">
                    <span>删除</span>
                </td>
            </tr>
            <tr>
                <td class="item_name">
                    <span class="indent"></span>
                    <span class="indent"></span>用户登录</td>
                <td class="add_item">添加</td>
                <td class="change_name">修改</td>
                <td class="start_using"><input type="checkbox" name="name" value=""></td>
                <td class="operate">
                    <span>删除</span>
                </td>
            </tr>
            <tr>
                <td class="item_name">
                    <span class="indent"></span>购物流程</td>
                <td class="add_item">添加</td>
                <td class="change_name">修改</td>
                <td class="start_using"><input type="checkbox" name="name" value=""></td>
                <td class="operate">
                    <span>删除</span>
                </td>
            </tr>
            <tr>
                <td class="item_name">
                    <span class="indent"></span>支付方式</td>
                <td class="add_item">添加</td>
                <td class="change_name">修改</td>
                <td class="start_using"><input type="checkbox" name="name" value=""></td>
                <td class="operate">
                    <span>删除</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
