<!--资料管理入口-->
<div class="content">
<h1 class="center">资料管理入口</h1>
<div class="plan_type_select">
    <h2>请选择计划类型</h2>
    <div class="type_container">
        <div class="type_wrapper">
            <div class="type_picture_src"  ui-sref="tab.materialEntrance.picMaterial">
                <span>图片素材</span>
            </div>
        </div>
        <div class="type_wrapper">
            <div class="type_article_src"  ui-sref="tab.materialEntrance.articleMaterial">
                <span>文章资讯</span>
            </div>
        </div>
    </div>
</div>
</div>
