<!--资料管理入口-->
<div class="content">
<h1 class="center">资源位管理入口</h1>
<div class="plan_type_select">
    <h2 class="selected_page">未选择页面</h2>
    <div class="type_container">
        <div class="type_wrapper">
            <div class="type_picture_src"  ui-sref="tab.nav.advertisement">
                <span>广告资源位</span>
            </div>
        </div>
        <div class="type_wrapper">
            <div class="type_article_src"  ui-sref="tab.nav.article">
                <span>文章资源位</span>
            </div>
        </div>
    </div>
</div>
</div>
